* {
    box-sizing: border-box;
    font-family: 'ZCOOL XiaoWei', serif;
}
.w-35{
    width: 35%;
}
a:hover {
    text-decoration: none;
}
.separation-posts{
    border: 1px solid #721c24;
    width: 80%;
    margin: auto;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: url("../pics/bg3.jpg") fixed no-repeat;
    background-size: cover;
}

#logo_amiblog {
    width: 200px;
}

.navbar {
    background-color: #191F3C;
    border-top: 3px solid #721c24;
    border-bottom: 3px solid #721c24;
}

.navbar a {
    color: white;
    transition: all 0.8s;
}

.navbar a:hover {
    transform: scale(1.3);
    color: white;
}

.marquee-row {
    margin: 20px 0;
}

marquee {
    background-color: white;
    height: 100%;
}

marquee * {
    vertical-align: middle;
}
marquee a{
    color: black;
}
marquee a:hover{
    color: #1b1e21;
}
marquee img {
    height: 50px;
}

.marquee-badge {
    background-color: #721c24;
    color: white;
}

.big-div {
    padding: 0;
    width: 90%;
}

.oneLabelPost [class*="col"] {
    padding: 0 !important;
}

.oneLabelPost {
    padding: 0 15px;

}

.oneLabelPost .card-text-title {
    font-size: 1.2rem !important;
}

.oneLabelPost .card-text {
    color: black;
}

.oneLabelPost .card:hover img {
    opacity: 0.8;
}

.oneLabelPost .card:hover .card-text {
    background-color: rgba(255, 255, 255, 1);
    color: black;
}

.oneLabelPost .card-text {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
}

.oneLabelPost .card-text-title {
    font-size: 1.2em;
    font-weight: bold;
}

.oneLabelPostLabel {
    top: 1.2rem;
    left: 1.2rem;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.row-posts-widgets {
    margin: 20px 0;
}

.right-side-bar {
    padding: 0 0 0 10px;
}

.show-widget {
    margin-top: 20px;
}

/*Social widget*/
.div-title-widget {
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.widget-title {
    padding: 6px 13px;
    background-color: white;
    font-weight: bold;
    font-size: 1.1em;
}

.one-social-widget {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 3em;
}

.twitter {
    color: #1DA1F2;
}

.facebook {
    color: #4267B2;
}

.instagram {
    color: #CB2694;
}

.linkedin {
    color: #007BB6;
}

.google {
    color: #D74A37;
}

/*popular posts widget*/
.popular-post-widget img {
    width: 30%;
}

.popular-post-widget .div-content-widget {
    color: white;
}

/*follow-by-email-widget*/
.follow-by-email-widget {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.follow-by-email-widget ::-webkit-input-placeholder {
    text-align: center;
}

.follow-by-email-widget :-moz-placeholder {
    text-align: center;
}

.follow-by-email-widget ::-moz-placeholder {
    text-align: center;
}

.follow-by-email-widget :-ms-input-placeholder {
    text-align: center;
}

/*labels-widget*/
.labels-widget li {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    border-bottom: 1px solid #d5c7d4;
}

.labels-widget li:hover {
    color: white;
    background-color: #424142;
}

/*show-labels-posts*/
.show-labels-posts {
    padding: 0 10px 0 0;
}

.show-labels-posts a {
    color: white;
}

.show-labels-posts a:hover {
    color: #c8c7c8;
}

.show-labels-posts .div-content-widget {
    color: white;
}

/*FOOTER*/
.footer {
    background-color: black;
}

.footer .div-content-widget a, .footer .div-content-widget {
    color: white !important;
}

.footer-copy {
    padding: 30px;
    color: white;
    border-top: 2px solid white;
}

/* button to top */
#btn-to-top {
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    margin: 30px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: background-color .3s;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 1.5rem;
}

#btn-to-top:hover {
    cursor: pointer;
    background-color: #333;
}

#btn-to-top:active {
    background-color: #555;
}

.hide-btn-to-top {
    display: none !important;
}

/* one post */
.div-one-label .card{
    width: 100%;
    height: 500px;
    background: no-repeat center;
    background-size: cover;
}
.div-one-label .card .card-post-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}
.div-one-label .card .card-post-image h1{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 3px 2px 0px rgba(0,0,0,0.51);
}
.div-one-label .card .card-post-image > .badge{
    font-size: 1.1rem !important;
}
.div-one-label .one-lable-highlight{
    text-align: justify;
    font-weight: bold;
    font-size: 1.2rem;
    text-indent: 1.5em;
}
.between-highlight-content{
    background-color: white;
    color: black;
    border-radius: 10px;
}
.between-highlight-content [class*="col"]{
    padding: 0 !important;
}

.related-post{
    padding: 5px 8px;
    margin: 20px 0 10px 15px;
    background-color: #721c24;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    color: white;
}

.related-post i{
    position: absolute;
    top: -17px;
    left: -10px;
    color: black !important;
}
.one-lable-content{
    text-indent: 1.5em;
}